.heading {
  font-size: larger;
}
.card {
  align-items: center;
}
.login-img {
  width: 100%;
}
.cart-page {
  display: flex;
}
.filter-summary {
  padding: 20px;
  background: #000;
  color: #fff;
}
